<style>
body {background: #DB6F44;}
</style>

<div class="smorg-header-box">
	<div class="smorg-login-title">SMORG</div>
</div>

<div class="smorg-login-box">

	<div class="smorg-login-form">
			<center>
				<input class="smorg-login-input" type="text" ng-model="member.username" placeholder="username"/><br />
				<input class="smorg-login-input" type="password" ng-model="member.password" placeholder="password"/><br />
				<button class="smorg-login-button" ng-click="memberLogin()">
						<i class="icon-signin"></i>
				</button>
			</center>
	</div>


	<div class="smorg-signup-button">
		<div class="smorg-signup-button" ng-click="signUpClick()">sign up</div>
	</div>
</div>
