<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.smorgapp.Smorg"
		version="0.0.1">

<name>Smorg</name>

<preference name="orientation" value="portrait" />
<preference name="show-splash-screen-spinner" value="false" /> <!--iOS only-->

<icon src="icon.png" />
<gap:splash src="splash.png" />

<access origin="http://smorgasbored.com" subdomains="true" />