<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="com.smorgapp.Smorg"
		version="0.0.1">

<name>Smorg</name>

<preference name="orientation" value="portrait" />
<preference name="show-splash-screen-spinner" value="false" /> <!--iOS only-->

<icon src="icon.png" />
<gap:splash src="splash.png" />

<feature name="debug-server" required="true">
	<param name="domain" value="http://108.72.245.83" />
	<param name="key" value="smorgapp" />
</feature>

<access origin="http://smorgasbored.com" subdomains="true" />

</widget>