<div ng-controller="PostCtrl">
	<div class="smorg-overlay-partial">
	
		<button class="smorg-overlay-close" ng-click="exitPage()">
		</button>


		<div class="smorg-overlay-title">
		what does it look like
		</div>

		<div class="smorg-post-photo"> 
			<div class="smorg-photo-label">
				<center><i class="icon-camera" style="font-size:18px;"></i>&nbsp&nbsp&nbsp&nbspGET PHOTOGRAPH</center>
			</div>

				<input class="smorg-photo-input" type="file" accept="image/*" capture="camera" placeimage="newimage" /> <!-- make sure placeimage="newimage" -->

				<img class="smorg-show-image" id="postimg" src="{{ newimage.url }}" draggable />

		</div>

		<button class="smorg-overlay-footbutton" ng-click="nextClick(newimage)">next</button>

	</div>

</div>



