<div ng-controller="PostCtrl">
	<div class="smorg-overlay-partial">
	

		<button class="smorg-overlay-close" ng-click="exitPage()">

		</button>

		<div class="smorg-overlay-title">
		what should we do?<br />
		</div>

		<div class="smorg-post-input">
			<center>
				<input type="text" class="smorg-post-text-input" placeholder="e.g., Picnic at Piedmont" ng-model="activity.title">
			</center>
		</div>

		<button class="smorg-overlay-footbutton" ng-click="nextClick(activity.title)">next</button>

	</div>

</div>
